@model TTP_Project.Models.entities.ProductItem
@{
    ViewBag.Title = "Details";
}

<script type="text/javascript">
    $(function () {
        $(".AddLink").click(function () {
            var recordToAdd = $(this).attr("data-id");
            if (recordToAdd != '') {
                $.post("/ShoppingCart/AddToCart", { "id": recordToAdd },
                    function (data) {
                        $('#cart-status').text(data.CartCount);
                    });
            }
        });
    });
</script>
<h2>Template Details</h2>
<div>
    <hr />
    <img class="template-img col-md-9" src="@Url.Action("RenderImage", new { id = Model.ID})" />
    <dl class="dl-horizontal col-md-3" style="line-height:1.5">
        <dt style="width:auto">
            @Html.DisplayNameFor(model => model.Categorie)
        </dt>
        <dd style="width:100px">
            @Html.DisplayFor(model => model.Categorie)
        </dd> 
        <dt style="width:auto">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd style="width:100px">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt style="width:auto">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd style="width:100px">
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    <a href="#" class="btn btn-info btn-sm btn-standart" style="color:white; margin-right:95px; margin-left:15px;"
       data-id="@Model.ID" data-toggle="modal" data-target="#myModal">
        Add
        to cart
    </a>
    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })

    }

    @Html.ActionLink("Back to List", "Index")
</p>
