@model PagedList.IPagedList<TTP_Project.Models.entities.ProductItem>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Site Templates";
}

<script type="text/javascript">
    $(function () {
        $(".AddLink").click(function () {
            var recordToAdd = $(this).attr("data-id");
            if (recordToAdd != '') {
                $.post("/ShoppingCart/AddToCart", { "id": recordToAdd },
                    function (data) {
                        $('#cart-status').text(data.CartCount);
                    });
            }
        });
    });
</script>




<h2>Order Our Templates For Your Products</h2>
@if (Request.IsAuthenticated && User.IsInRole("SalesManager"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<div class="bs-docs-section">
    <div class="row">
            @using (Html.BeginForm("Index", "Items", FormMethod.Get))
            {
                
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Find: </span>
                        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        <span class="input-group-btn">
                            <input type="submit" class="btn btn-info btn-sm btn-standart" style="border-radius:4px" value="Search" />
                        </span>
                    </div>
                </div>
            }
    </div>
</div>
<table class="table">
    <tr>
        <th>
            Category
        </th>
        <th>
            @Html.ActionLink("Item Name", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Item Price", "Index", new { sortOrder = ViewBag.PriceSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Picture
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie)
            </td>
            <td>
                @Html.ActionLink(item.Name, "Details", "Items", new { id = item.ID }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
            @if (item.ItemPictureUrl != null) { 
                <a href="@item.ItemPictureUrl">Go To Picture</a>
            }
               
            </td>
            <td>
                <a href="#" class="AddLink"
                   data-id="@item.ID" data-toggle="modal" data-target="#myModal">
                    Add
                    to cart
                </a>
                <!--@Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = item.ID }, new { htmlAttributes = new { @data_toggle = "modal", @data_target = "#myModal" } })--> 
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
