@model IEnumerable<TTP_Project.Models.entities.Order>
@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<p>
    @Html.ActionLink("Create New Order", "Index", "Items")
</p>
<table class="table">
    <tr>
        <th>
            Order Number
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompleteDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DetailDescription)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.OrderId.ToString(), "Details", new { id = item.OrderId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompleteDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetailDescription)
            </td>

            <td></td>
        </tr>
    }
</table>
